@font-face{
    font-family: 'Reem Kufi';
    src: url(Assets/font/Reem_Kufi_Fun/ReemKufiFun-VariableFont_wght.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: 100%;
    background-color: rgb(243, 243, 243);
}

p{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 10px 20px;
}

.logo{
    padding: 10px 20px;
}

.logo a{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.logo h1{
    margin: 0;
}

.wheel{
    text-decoration: none;
    color: #f3f3f3;
    font-family: 'Reem Kufi';
}

.hub{
    text-decoration: none;
    color: #5353bd;
    font-family: 'Reem Kufi';
}

.logo h1{
    width: 100%;

}

nav{
    background-color: black;
    position: relative;
}

nav .navbar{
    display: flex;
}

.navbar div:last-child{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    width: fit-content;
}

.navbar-register{
    padding-right: 10px;
    display: inline-block;
    position: relative;
}

.navbar-register:hover .register-dropdown{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: -95px;
    right: 0;
    background-color: black;
    z-index: 1;
    padding: 10px;
}

.navbar-register:hover .dropdown-items{
    text-decoration: none;
    color: #f3f3f3;
    padding: 10px ;
    display: block;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #f3f3f3;
    transition: ease-out 0.3s;
    font-weight: bolder;
}

.dropdown-items{
    display: none;
}

.navbar-register:hover .dropdown-items:hover{
    color: #5353bd;
}

.register-dropdown{
    display: none;
    transition: 0.3s ease;
    position: absolute;
}

.navbar-register svg{
    fill: #f3f3f3;
    transition: 0.3s ease;
    width: 20px;
    height: 20px;
}

.navbar-register:hover svg{
    fill: #5353bd;
}

.navbar div:not(:last-child){
    text-align: center;
    width: 134px;
    height: 59px;
    transition: ease-out 0.15s;
}

.navbar div:not(:last-child):hover{
    background-color: black;
    color: #f3f3f3;
    border-bottom: solid 3px #f3f3f3 ;
    box-sizing: border-box;
}



.navbar div:not(:last-child):hover a{
    color: #5353bd
}

nav a{
    text-decoration: none;
    color: #f3f3f3;
    font-size: 15px;
    transition: ease-out 0.3s;
}

.navbar-burger{
    display: none;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aboutus-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
    color: #f3f3f3;
    padding: 100px;
    gap: 50px;
    position: relative;
    
}

.aboutus-main::before{
    background-image: url(Assets/about_us/car_interior.jpeg);
    background-size: cover;
    content:'';
    position: absolute;
    inset: 0;
    opacity: 0.5;
    height: 100%;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    position: relative;
    font-weight: 500;
}

.text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 100%;
    position: relative;
    gap: 30px;
}

.text p{
    font-size: 20px;
}

.vision{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    background-color: #111111;
    color: #f3f3f3;
    padding-bottom: 50px;
}

.vision-left{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    text-align: left;
    width: 50%;
    padding: 0;
    gap: 20px;
}

.vision-title{
    display: flex;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    position: relative;
    font-weight: 500;
}

.vision-text {
    font-size: 20px;
}


.vision-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.vision-right img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    box-sizing: border-box;
    padding-left: 50px;
}

.mission{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    background-color: #111111;
    color: #f3f3f3;
    padding-bottom: 50px;
}

.mission-right{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    text-align: left;
    width: 50%;
    padding: 0;
    gap: 20px;
}

.mission-title{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    position: relative;
    font-weight: 500;
}

.mission-text {
    font-size: 20px;
    justify-content: right;
    text-align: end;
}


.mission-left{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.mission-left img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    box-sizing: border-box;
    padding-right: 50px;
}

.partners{
    background-color: #f3f3f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px 100px;
    width: 100%;
    box-sizing: border-box;
}

.partner-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    position: relative;
    font-weight: 500;
}

.partner-image{
    display: flex;
    gap: 80px;
    box-sizing: border-box;
}

.partner-image img{
    width: 50%;
    object-fit: cover;
}

.partner-text{
    font-size: 20px ;
    text-align: justify;
}

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #444444;
    padding: 50px 100px;
    gap: 50px;
    box-sizing: border-box;
}

.gallery-title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;
    position: relative;
    font-weight: bold;
    color: #f3f3f3;
}

.gallery-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    position: relative;
    font-weight: 500;
    color: #f3f3f3;
}

.main-grid{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.main-grid img{
    width: 100%;
    /* height: 600px; */
    object-fit: cover;
}

.mgrid-desc{
    color: #f3f3f3;
    font-size: 20px;
    width: 100%;
    text-align: justify;
}

.gallery-grid{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    width: 100%;
    padding: 0;
}

.grid{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.gridcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    /* height: 500px; */
    color: #f3f3f3;
    gap: 20px;
    height: 600px;
}

.gridcard img{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    box-sizing: border-box;
}

.gc-title{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    width: 100%;
}

.gc-text{
    font-size: 20px;
    margin: 0;
    text-align: justify;
    width: 100%;
}


footer{
    height: 100%;
    background-color: black;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footAtas{
    display: flex;
    justify-content: space-between;
    /* padding-top: 100px; */
    gap: 30px;
    
}

.atas-kanan{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    width: 30%;
}


.foot1{
    display: flex;
    flex-direction: column;
    width: 60%;
    box-sizing: border-box;
    gap: 20px;
}

.update{
    color: #f3f3f3;
    margin: 0;
    font-size: 40px;
    font-weight: bolder;
}

.email{
    padding: 20px;
    width: 500px;
    margin-right: 10px;
    background-color: black;
    border: 2px solid #f3f3f3;
    color: #f3f3f3;
    font-size: 18px;
    font-weight: 700;
}

.updateBut{
    width: 150px;
    margin-left: 10px;
    color:#f3f3f3;
    font-size: medium;
    background-color: black;
    border: 2px solid #5353bd;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 #5353bd;
    font-size: 20px;
    font-weight: 600;
}

.updateNews{
    display: flex;
}

.updateBut:hover{

    box-shadow: inset 150px 0 0 0 #5353bd;
    color: #f3f3f3;
}

.menu-option{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menuTitle{
    color: #5353bd;
    font-size: 20px;
    font-weight: bolder;
}

.menuIsi{
    color: #f3f3f3;
    transition: 0.3s ease;
    font-size: 18px;
    font-weight: bold;
}

.menuIsi:hover{
    color: #5353bd;
    text-decoration: none;

}

.opening-hours{
    width: 50%;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.open-title{
    font-size: 20px;
    font-weight: bolder;
}

.open-hours{
    font-size: 18px;
    font-weight: bold;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.footBawah{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.socialImg{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
}

.socialImg img{
    height: 40px;
    width: 40px;
}

.copyright p{
    color: #f3f3f3;
    font-size: 18px;
    font-weight: bold;
}

.contact-us{ 
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-us p{
    font-size: 20px;
    font-weight: bolder;
}

@media (max-width:1040px){
    
    .aboutus-main{
        padding: 100px;
        gap: 40px;
    }
    
    .title{
        font-size: 40px;
    }
    
    .text{
        gap: 30px;
    }
    
    .text p{
        font-size: 18px;
    }
    
    .vision-left{
        gap: 20px;
    }
    
    .vision-title{
        font-size: 40px;
    }
    
    .vision-text {
        font-size: 18px;
    }

    
    .mission-right{
        gap: 20px;
    }
    
    .mission-title{
        font-size: 40px;
    }
    
    .mission-text {
        font-size: 18px;
        justify-content: right;
        text-align: end;
    }
    
    .partners{
        gap: 40px;
    }
    
    .partner-title{
        font-size: 40px;
    }
    
    .partner-image{
        gap: 50px;
    }
    
    .partner-text{
        font-size: 18px ;
        text-align: justify;
    }
    
    .gallery{
        gap: 30px;
    }
    
    .gallery-title{
        font-size: 15px;
    }
    
    .gallery-text{
        font-size: 40px;
    }
    
    .main-grid{
        gap: 20px;
    }

    .mgrid-desc{
        font-size: 18px;
    }
    
    .gallery-grid{
        gap: 40px;
    }
    
    .grid{
        gap: 40px;
    }
    
    .gridcard{
        gap: 20px;
    }

    .gc-title{
        font-size: 25px;
        font-weight: 600;
    }
    
    .gc-text{
        font-size: 18px;
    }
    
    
    footer{
        gap: 20px;
    }
    
    .foot1{
        gap: 20px;
    }
    
    .update{
        font-size: 30px;
    }
    
    .email{
        font-size: 15px;
        height: 10px;
    }
    
    .updateBut{
        font-size: 18px;
    }
    
    .menuTitle{
        font-size: 18px;
    }
    
    .menuIsi{
        font-size: 15px;
    }
    

    
    .open-title{
        font-size: 18px;
    }
    
    .open-hours{
        font-size: 15px;
    }
        
    .copyright p{
        font-size: 15px;
    }
    
    .contact-us p{
        font-size: 18px;
    }
}

@media (max-width: 811px){
    nav .navbar{
        display: none;
    }

    .navbar-burger{
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        position: relative;
    }
    
    .navbar-burger svg{
        fill: #f3f3f3;
        transition: 0.3s ease;
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }
    
    .navbar-burger .burger-dropdown{
        background-color: black;
        position: absolute;
        display: none;
        flex-direction: column;
        z-index: 1;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        animation-name: fade-in;
        animation-duration: 0.3s;
    }
    .navbar-burger .show-dropdown{
        display: flex;
    }
    .burger-dropdown{
       display: none;
    }
    
    @keyframes fade-in{
        from{opacity: 0;}
        to{opacity: 1;}
    }
    
    .burger-dropdown a{
        font-size: 16px;
        font-weight: bolder;
        padding: 15px;
        transition: 0.3s ease;
    }
    
    .burger-dropdown a:hover{
        background-color: #5353bd;
    }
    
    .line{
        height: 1px;
        background-color: #f3f3f3;
        margin: 10px;
    }

    .aboutus-main{
        padding: 80px;
        gap: 35px;
    }
    
    .title{
        font-size: 35px;
    }
    
    .text{
        gap: 25px;
    }
    
    .text p{
        font-size: 18px;
    }
    
    .vision{
        display: flex;
        flex-direction: column;
        padding: 50px 80px;
        gap: 50px;
    }
    
    .vision-left{
        flex-direction: column;
        text-align: justify;
        width: 100%;
        padding: 0;
    }
    
    .vision-title{
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    
    .vision-text {
        font-size: 18px;
    }
    
    .vision-right{
        width: 100%;
    }
    
    .vision-right img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        box-sizing: border-box;
        padding: 0;
    }
    
    .mission{
        display: flex;
        flex-direction: column-reverse;
        padding: 50px 80px;
        gap: 50px;
        padding-top: 0;

    }
    
    .mission-right{
        flex-direction: column;
        text-align: justify;
        width: 100%;
        padding: 0;
    }
    
    .mission-title{
        display: flex;
        justify-content: center;
        font-size: 40px;
    }
    
    .mission-text {
        font-size: 18px;
        text-align: justify;
    }
    
    
    .mission-left{
        width: 100%;
    }
    
    .mission-left img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        box-sizing: border-box;
        padding: 0;
    }
    
    .partners{
        gap: 35px;
        padding: 80px;
    }
    
    .partner-title{
        font-size: 40px;
    }
    
    .partner-image{
        gap: 20px;
    }
    
    .partner-text{
        font-size: 18px ;
        text-align: justify;
    }
    
    .gallery{
        gap: 30px;
        padding: 80px;
    }
    
    .gallery-title{
        font-size: 15px;
    }
    
    .gallery-text{
        font-size: 40px;
    }
    
    .main-grid{
        gap: 20px;
    }
    
    .mgrid-desc{
        font-size: 18px;
    }
    
    .gallery-grid{
        gap: 40px;
    }
    
    .grid{
        gap: 40px;
        flex-direction: column;
    }
    
    .gridcard{
        width: 100%;
        height: 100%;
    }
    
    .gridcard img{
        width: 100%;
        height: 377.333px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        box-sizing: border-box;
    }
    
    .gridcard{
        gap: 20px;
    }

    .gc-title{
        font-size: 25px;
    }
    
    .gc-text{
        font-size: 18px;
    }

    footer{
        gap: 20px;
        padding: 50px;
    }

    .footAtas{
        flex-direction: column;
    }

    .atas-kanan{
        width: 100%;
    }
    
    .foot1{
        gap: 20px;
        width: 100%;
    }
    
    .update{
        font-size: 25px;
    }
    
    .email{
        font-size: 15px;
    }
    
    .updateBut{
        font-size: 18px;
    }
    
    .menu-option{
        gap: 15px;
    }

    .opening-hours{
        gap: 15px;
    }

    .menuTitle{
        font-size: 18px;
    }
    
    .menuIsi{
        font-size: 15px;
    }
    
    .open-title{
        font-size: 18px;
    }
    
    .open-hours{
        font-size: 15px;
    }
        
    .copyright p{
        font-size: 15px;
    }
    
    .contact-us p{
        font-size: 18px;
    }
}

@media (max-width:428px){
    nav .navbar{
        display: none;
    }
 
    .navbar-burger{
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        position: relative;
    }
    
    .navbar-burger svg{
        fill: #f3f3f3;
        transition: 0.3s ease;
        width: 30px;
        height: 30px;
        margin-left: 15px;
    }
    
    .navbar-burger .burger-dropdown{
        background-color: black;
        position: absolute;
        display: none;
        flex-direction: column;
        z-index: 1;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
        animation-name: fade-in;
        animation-duration: 0.3s;
    }
    .navbar-burger .show-dropdown{
        display: flex;
    }
    .burger-dropdown{
       display: none;
    }
    
    @keyframes fade-in{
        from{opacity: 0;}
        to{opacity: 1;}
    }
    
    .burger-dropdown a{
        font-size: 15px;
        font-weight: bolder;
        padding: 15px 10px;
        transition: 0.3s ease;
    }
    
    .burger-dropdown a:hover{
        background-color: #5353bd;
    }
    
    .line{
        height: 1px;
        background-color: #f3f3f3;
        margin: 10px;
    }
    .aboutus-main{
        padding: 50px 30px;
        gap: 30px;
    }
    
    .title{
        font-size: 30px;
    }
    
    .text{
        gap: 20px;
    }
    
    .text p{
        font-size: 15px;
    }

    .vision{
        display: flex;
        flex-direction: column;
        padding: 50px 30px;
        gap: 30px;
    }
    
    .vision-left{
        flex-direction: column;
        text-align: justify;
        width: 100%;
        padding: 0;
    }
    
    .vision-title{
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    
    .vision-text {
        font-size: 15px;
    }
    
    .vision-right{
        width: 100%;
    }
    
    .vision-right img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        box-sizing: border-box;
        padding: 0;
    }

    .mission{
        display: flex;
        flex-direction: column-reverse;
        padding: 50px 30px;
        gap: 30px;
        padding-top: 0;

    }
    
    .mission-right{
        flex-direction: column;
        text-align: justify;
        width: 100%;
        padding: 0;
    }
    
    .mission-title{
        display: flex;
        justify-content: center;
        font-size: 30px;
    }
    
    .mission-text {
        font-size: 15px;
        text-align: justify;
    }
    
    
    .mission-left{
        width: 100%;
    }
    
    .mission-left img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        box-sizing: border-box;
        padding: 0;
    }

    .partners{
        gap: 30px;
        padding: 30px;
    }

    .partner-title{
        font-size: 30px;
    }
    
    .partner-image{
        gap: 20px;
        flex-direction: column;
        width: 100%;
    }

    .partner-image img{
        width: 100%;
    }
    
    .partner-text{
        font-size: 15px ;
        text-align: justify;
    }

    .gallery{
        gap: 30px;
        padding: 30px;
    }
    
    .gallery-title{
        font-size: 13px;
    }
    
    .gallery-text{
        font-size: 30px;
    }
    
    .main-grid{
        gap: 15px;
    }
    
    .mgrid-desc{
        font-size: 15px;
    }
    
    .gallery-grid{
        gap: 30px;
    }
    
    .grid{
        gap: 30px;
        flex-direction: column;
    }
    
    .gridcard{
        width: 100%;
        height: 100%;
    }
    
    .gridcard img{
        width: 100%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;
        box-sizing: border-box;
    }
    
    .gridcard{
        gap: 15px;
    }

    .gc-title{
        font-size: 20px;
    }
    
    .gc-text{
        font-size: 15px;
    }

    footer{
        gap: 20px;
        padding: 25px;
    }

    .footAtas{
        flex-direction: column;
    }

    .atas-kanan{
        width: 100%;
    }

    .foot1{
        gap: 20px;
        width: 100%;
    }

    .updateNews{
        /* flex-direction: column; */
        width: 100%;
        box-sizing: border-box;
        gap: 5px;
    }

    .update{
        font-size: 20px;
    }

    .email{
        font-size: 14px;
        padding: 10px;
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        /* font-weight: 550; */ 
        margin: 0;
    }

    .updateBut{
        font-size: 14px;
        margin: 0;
        padding: 5px;
        height: 40px;
        width: 100px;
        box-sizing: border-box;
    }

    .menuTitle{
        font-size: 15px;
    }
    
    .menuIsi{
        font-size: 14px;
    }
    
    .open-title{
        font-size: 15px;
    }
    
    .open-hours{
        font-size: 14px;
    }
        
    .copyright p{
        font-size: 14px;
    }

    .contact-us{
        gap: 10px;
    }

    .socialImg{
        gap: 5px;
    }

    .socialImg img{
        width: 30px;
        height: 30px;
    }
    
    .contact-us p{
        font-size: 15px;
    }
    .menu-option{
        gap: 15px;
    }

    .opening-hours{
        gap: 15px;
    }

    .copyright{
        width: 50%;
    }
    


}
