@font-face{
    font-family: 'Reem Kufi';
    src: url(Assets/font/Reem_Kufi_Fun/ReemKufiFun-VariableFont_wght.ttf);
}

body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: 100%;
    background-color: #f3f3f3;
}

p{
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    padding: 10px 20px;
}

.logo{
    padding: 10px 20px;
}

.logo a{
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.logo h1{
    margin: 0;
}

.wheel{
    text-decoration: none;
    color: #f3f3f3;
    font-family: 'Reem Kufi';
}

.hub{
    text-decoration: none;
    color: #5353bd;
    font-family: 'Reem Kufi';
}

.logo h1{
    width: 100%;

}

nav{
    background-color: black;
    position: relative;
}

nav .navbar{
    display: flex;
}

.navbar div:last-child{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    width: fit-content;
}

.navbar-register{
    padding-right: 10px;
    display: inline-block;
    position: relative;
}

.navbar-register:hover .register-dropdown{
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    bottom: -95px;
    right: 0;
    background-color: black;
    z-index: 1;
    padding: 10px;
}

.navbar-register:hover .dropdown-items{
    text-decoration: none;
    color: #f3f3f3;
    padding: 10px ;
    display: block;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
    color: #f3f3f3;
    transition: ease-out 0.3s;
    font-weight: bolder;
}

.dropdown-items{
    display: none;
}

.navbar-register:hover .dropdown-items:hover{
    color: #5353bd;
}

.register-dropdown{
    display: none;
    transition: 0.3s ease;
    position: absolute;
}

.navbar-register svg{
    fill: #f3f3f3;
    transition: 0.3s ease;
    width: 20px;
    height: 20px;
}

.navbar-register:hover svg{
    fill: #5353bd;
}

.navbar div:not(:last-child){
    text-align: center;
    width: 134px;
    height: 59px;
    transition: ease-out 0.15s;
}

.navbar div:not(:last-child):hover{
    background-color: black;
    color: #f3f3f3;
    border-bottom: solid 3px #f3f3f3 ;
    box-sizing: border-box;
}



.navbar div:not(:last-child):hover a{
    color: #5353bd
}

nav a{
    text-decoration: none;
    color: #f3f3f3;
    font-size: 15px;
    transition: ease-out 0.3s;
}

.navbar-burger{
    display: none;
}

section {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promotion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}



.promotion-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 50px 0px;
    gap: 30px;
}

.promotion-title .title{
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
}

.promotion-title .subtitle {
    font-size: 20px;
    margin: 0;
    width: 80%;
    text-align: justify;
}

.promotion-banner{
    width: 100%;
    height: 700px;
    position: relative;
}

.banner{
    display: none;
    height: 100%;
    position: relative;
    animation-name: fade;
    animation-duration: 1s;
    
}

@keyframes fade {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
  }

.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    /* margin-right: 0; */
    color: #f3f3f3;
    transition: 0.6s ease;
    background-color: #f3f3f3cc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a img{
    height: 20px;
}

.next{
    right: 0;
    border-radius: 0;
    transform: rotate(270deg);
}

.prev{
    left: 0;
    border-radius: 0;
    transform: rotate(90deg);
}

.prev:hover, .next:hover {
    background-color: #5353bdcc;
}

.banner-caption {
    color: #f3f3f3;
    padding: 8px 0px;
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
}

.banner-desc{
    color: #f3f3f3;
}

.banner-title{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 700;
    color: #f3f3f3;
}

.desc-title{
    font-size: 20px;
    text-transform: uppercase;
}

.desc-text{
    font-size: 40px;
    font-weight: 600;
}

.special-offers{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: #444444;
    box-sizing: border-box;
}

.offers-kiri{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    padding: 0px 50px;
    gap: 20px;
    box-sizing: border-box;
    height: 100%;
    color: #f3f3f3;
    width: 40%;
    box-sizing: border-box;
}

.offers-title{
    text-transform: uppercase;
    font-size: 50px;
}

.offers-desc{
    font-size: 20px;
    text-align: justify;
    width: 100%;
}

.offers-kanan{
    height: 100%;
    width: 1000px;
    position: relative;
    overflow: hidden;
}

.offers-carousel{
    height: 100%;
    width: 500%;
    display: flex;
}

.offers-carousel input{
    display: none;
}

.offers-card{
    width: 20%;
    height: 100%;
    position: relative;
    transition: 2s;
    /* display: none; */
    
}

.offers-card img{
    width: 1000px;
    height: 100%;
    object-fit: cover;
    /* object-position: ; */
    /* border-image: fill 0 linear-gradient(#0003,#000); */
}

.manual-change{
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 50px;
    gap: 10px;
    transform: scale(1.5);
}

.manual{
    border: 2px solid #f3f3f3;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.manual:hover{
    background-color: #f3f3f3;
    
}

#change1:checked ~ .first{
    margin-left: 0;
}

#change2:checked ~ .first{
    margin-left: -20%;
}

#change3:checked ~ .first{
    margin-left: -40%;
}

.auto-change{
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 50px;
    gap: 10px;
    transform: scale(1.5);
}

.auto-change div{
    border: 2px solid #f3f3f3;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    /* background-color: #ff3232; */
}

#change1:checked ~ .auto-change .auto1{
    background-color: #f3f3f3;
    border: 2px solid #f3f3f3;
}

#change2:checked ~ .auto-change .auto2{
    background-color: #f3f3f3;
    border: 2px solid #f3f3f3;
}

#change3:checked ~ .auto-change .auto3{
    background-color: #f3f3f3;
    border: 2px solid #f3f3f3;
}

.card-desc{
    position: absolute;
    display: block;
    bottom: 30px;
    left: 30px;
    color: #f3f3f3;
}

.card-title{
    font-size: 30px;
    font-weight: 700;
}

.card-price{
    font-size: 20px;
    color: #ff3232;
    text-decoration: line-through;
}

.card-discount{
    font-size: 25px;
    font-weight: 600;
}

.prev-offer, .next-offer {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 5px;
    /* margin-right: 0; */
    color: #f3f3f3;
    transition: 0.6s ease;
    background-color: #f3f3f3cc;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a img{
    height: 20px;
}

.next-offer{
    right: 0;
    border-radius: 3px 3px 0px 0px;
    transform: rotate(270deg);
}

.prev-offer{
    left: 0;
    border-radius: 3px 3px 0px 0px;
    transform: rotate(90deg);
}

.prev-offer:hover, .next-offer:hover {
    background-color: #5353bdcc;
}


footer{
    height: 100%;
    background-color: black;
    padding: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footAtas{
    display: flex;
    justify-content: space-between;
    /* padding-top: 100px; */
    gap: 30px;
    
}

.atas-kanan{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    width: 30%;
}


.foot1{
    display: flex;
    flex-direction: column;
    width: 60%;
    box-sizing: border-box;
    gap: 20px;
}

.update{
    color: #f3f3f3;
    margin: 0;
    font-size: 40px;
    font-weight: bolder;
}

.email{
    padding: 20px;
    width: 500px;
    margin-right: 10px;
    background-color: black;
    border: 2px solid #f3f3f3;
    color: #f3f3f3;
    font-size: 18px;
    font-weight: 700;
}

.updateBut{
    width: 150px;
    margin-left: 10px;
    color:#f3f3f3;
    font-size: medium;
    background-color: black;
    border: 2px solid #5353bd;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 #5353bd;
    font-size: 20px;
    font-weight: 600;
}

.updateNews{
    display: flex;
}

.updateBut:hover{

    box-shadow: inset 150px 0 0 0 #5353bd;
    color: #f3f3f3;
}

.menu-option{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menuTitle{
    color: #5353bd;
    font-size: 20px;
    font-weight: bolder;
}

.menuIsi{
    color: #f3f3f3;
    transition: 0.3s ease;
    font-size: 18px;
    font-weight: bold;
}

.menuIsi:hover{
    color: #5353bd;
    text-decoration: none;

}

.opening-hours{
    width: 50%;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.open-title{
    font-size: 20px;
    font-weight: bolder;
}

.open-hours{
    font-size: 18px;
    font-weight: bold;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.footBawah{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.socialImg{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 20px;
}

.socialImg img{
    height: 40px;
    width: 40px;
}

.copyright p{
    color: #f3f3f3;
    font-size: 18px;
    font-weight: bold;
}

.contact-us{ 
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-us p{
    font-size: 20px;
    font-weight: bolder;
}

@media (max-width:1040px){
    .promotion-title{
        gap: 20px;
    }
    
    .promotion-title .title{
        font-size: 40px;
    }
    
    .promotion-title .subtitle {
        font-size: 18px;
    }

    .banner-title{
        font-size: 40px;
    }
    
    .desc-title{
        font-size: 18px;
    }

    .desc-text{
        font-size: 30px;
    }
    
    .special-offers{
        height: 50vh;
    }
    
    .offers-kiri{
        width: 60%;
    }
    
    .offers-title{
        font-size: 40px;
    }

    .offers-desc{
        font-size: 18px;
    }
    
    .card-title{
        font-size: 25px;
    }
    
    .card-price{
        font-size: 18px;
    }
    
    .card-discount{
        font-size: 20px;
    }

    footer{
        gap: 20px;
    }
    
    .foot1{
        gap: 20px;
    }
    
    .update{
        font-size: 30px;
    }
    
    .email{
        font-size: 15px;
        height: 10px;
    }
    
    .updateBut{
        font-size: 18px;
    }
    
    .menuTitle{
        font-size: 18px;
    }
    
    .menuIsi{
        font-size: 15px;
    }
    
    .open-title{
        font-size: 18px;
    }
    
    .open-hours{
        font-size: 15px;
    }
        
    .copyright p{
        font-size: 15px;
    }
    
    .contact-us p{
        font-size: 18px;
    }
}

@media (max-width:811px){
    nav .navbar{
        display: none;
    }

    .navbar-burger{
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        position: relative;
    }
    
    .navbar-burger svg{
        fill: #f3f3f3;
        transition: 0.3s ease;
        width: 30px;
        height: 30px;
        margin-left: 20px;
    }
    
    .navbar-burger .burger-dropdown{
        background-color: black;
        position: absolute;
        display: none;
        flex-direction: column;
        z-index: 1;
        padding: 20px;
        width: 100%;
        box-sizing: border-box;
        animation-name: fade-in;
        animation-duration: 0.3s;
    }
    .navbar-burger .show-dropdown{
        display: flex;
    }
    .burger-dropdown{
       display: none;
    }
    
    @keyframes fade-in{
        from{opacity: 0;}
        to{opacity: 1;}
    }
    
    .burger-dropdown a{
        font-size: 16px;
        font-weight: bolder;
        padding: 15px;
        transition: 0.3s ease;
    }
    
    .burger-dropdown a:hover{
        background-color: #5353bd;
    }
    
    .line{
        height: 1px;
        background-color: #f3f3f3;
        margin: 10px;
    }

    .promotion-title{
        gap: 20px;
    }
    
    .promotion-title .title{
        font-size: 35px;
    }
    
    .promotion-title .subtitle {
        font-size: 18px;
        
    }
    .banner-title{
        font-size: 35px;
    }

    .desc-title{
        font-size: 18px;
    }

    .desc-text{
        font-size: 25px;
    }

    .promotion-banner{
        height: 500px;
    }

    .special-offers{
        flex-direction: column;
        height: 75vh;
    }

    .offers-kiri{
        text-align: center;
        width: 100%;
    }
    
    .offers-title{
        font-size: 35px;
    }

    .offers-desc{
        font-size: 18px;
    }
    
    .card-title{
        font-size: 25px;
    }
    
    .card-price{
        font-size: 18px;
    }
    
    .card-discount{
        font-size: 20px;
    }

    .offers-kanan{
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    footer{
        gap: 20px;
        padding: 50px;
    }

    .footAtas{
        flex-direction: column;
    }

    .atas-kanan{
        width: 100%;
    }
    
    .foot1{
        gap: 20px;
        width: 100%;
    }
    
    .update{
        font-size: 25px;
    }
    
    .email{
        font-size: 15px;
    }
    
    .updateBut{
        font-size: 18px;
    }
    
    .menuTitle{
        font-size: 18px;
    }
    
    .menuIsi{
        font-size: 15px;
    }
    
    .open-title{
        font-size: 18px;
    }
    
    .open-hours{
        font-size: 15px;
    }
        
    .copyright p{
        font-size: 15px;
    }
    
    .contact-us p{
        font-size: 18px;
    }
    .menu-option{
        gap: 15px;
    }

    .opening-hours{
        gap: 15px;
    }
}

@media (max-width:428px){
    nav .navbar{
        display: none;
    }
 
    .navbar-burger{
        display: flex;
        justify-content: space-between;
        padding: 10px 0px;
        position: relative;
    }
    
    .navbar-burger svg{
        fill: #f3f3f3;
        transition: 0.3s ease;
        width: 30px;
        height: 30px;
        margin-left: 15px;
    }
    
    .navbar-burger .burger-dropdown{
        background-color: black;
        position: absolute;
        display: none;
        flex-direction: column;
        z-index: 1;
        padding: 15px;
        width: 100%;
        box-sizing: border-box;
        animation-name: fade-in;
        animation-duration: 0.3s;
    }
    .navbar-burger .show-dropdown{
        display: flex;
    }
    .burger-dropdown{
       display: none;
    }
    
    @keyframes fade-in{
        from{opacity: 0;}
        to{opacity: 1;}
    }
    
    .burger-dropdown a{
        font-size: 15px;
        font-weight: bolder;
        padding: 15px 10px;
        transition: 0.3s ease;
    }
    
    .burger-dropdown a:hover{
        background-color: #5353bd;
    }
    
    .line{
        height: 1px;
        background-color: #f3f3f3;
        margin: 10px;
    }

    .promotion-title{
        gap: 20px;
        padding: 30px;
        box-sizing: border-box;
    }
    
    .promotion-title .title{
        font-size: 30px;
    }
    
    .promotion-title .subtitle {
        font-size: 15px;
        width: 100%;
        
    }

    .banner-caption{
        bottom: 3px;
    }

    .banner-title{
        font-size: 18px;
    }

    .desc-title{
        font-size: 13px;
    }

    .desc-text{
        font-size: 18px;
    }

    .promotion-banner{
        height: 250px;
    }

    .prev, .next {
        padding: 5px;
    }

    a img{
        height: 15px;
    }

    .special-offers{
        flex-direction: column;
        height: 67vh;
    }

    .offers-kiri{
        text-align: center;
        width: 100%;
        padding: 30px 30px;
    }
    
    .offers-title{
        font-size: 30px;
    }

    .offers-desc{
        font-size: 15px;
    }
    
    .card-title{
        font-size: 20px;
    }
    
    .card-price{
        font-size: 13px;
    }
    
    .card-discount{
        font-size: 15px;
    }

    
    

    .offers-card img{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }    

    .card-desc{
        left: 15px;
        bottom: 10px;
    }

    .manual-change{
        gap: 5px;
        bottom: 15px;
        right: 30px;
    }
    .manual{
        padding: 2px;
    }

    .auto-change{
        gap: 5px;
        bottom: 15px;
        right: 30px;
    }

    .auto-change div{
        padding: 2px;
    }

    footer{
        gap: 20px;
        padding: 25px;
    }

    .footAtas{
        flex-direction: column;
    }

    .atas-kanan{
        width: 100%;
    }

    .foot1{
        gap: 20px;
        width: 100%;
    }

    .updateNews{
        /* flex-direction: column; */
        width: 100%;
        box-sizing: border-box;
        gap: 5px;
    }

    .update{
        font-size: 20px;
    }

    .email{
        font-size: 14px;
        padding: 10px;
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        /* font-weight: 550; */ 
        margin: 0;
    }

    .updateBut{
        font-size: 14px;
        margin: 0;
        padding: 5px;
        height: 40px;
        width: 100px;
        box-sizing: border-box;
    }

    .menuTitle{
        font-size: 15px;
    }
    
    .menuIsi{
        font-size: 14px;
    }
    
    .open-title{
        font-size: 15px;
    }
    
    .open-hours{
        font-size: 14px;
    }
        
    .copyright p{
        font-size: 14px;
    }

    .contact-us{
        gap: 10px;
    }

    .socialImg{
        gap: 5px;
    }

    .socialImg img{
        width: 30px;
        height: 30px;
    }
    
    .contact-us p{
        font-size: 15px;
    }
    .menu-option{
        gap: 15px;
    }

    .opening-hours{
        gap: 15px;
    }

    .copyright{
        width: 50%;
    }
    
}